@{
    ViewBag.Title = "GoocaBooca";
}
@model IEnumerable<GoocaBoocaDataModels.Research>
@using GoocaBoocaBase.Helpers

<h2>GoocaBoocaへようこそ</h2>

<p>GoocaBoocaは、スマートフォン・PCを使ったリサーチサイトです。</p>


@foreach (var item in Model.Where(n=>n.Hidden == false && n.IsActive == true))
{
<h3>@Html.ActionLink(item.ResearchName, "StartPage", "Answer", new { ResearchIdName = item.ResearchIdName }, new { }) (@((ViewBag.DB as GoocaBoocaDataModels.GoocaBoocaDataBase).GetAnswerUserCount(item)))</h3>
    if (item.ResearchMainImage != null)
    {
        <a href="@Url.Action("StartPage","Answer",new {ResearchIdName = item.ResearchIdName })">
         @Html.Image("", item.Tag + item.ResearchMainImage.ImageName, item.ResearchName)
         </a>
    }
    <div>@Html.Raw(item.QuestionText.Replace("\n", "<br>"))</div>
<p>
 
</p>
<hr />    
}

