@{
    ViewBag.Title = "ホーム ページ";
}
@model IEnumerable<GoocaBoocaDataModels.Research>
@using GoocaBoocaBase.Helpers

<h2>GoocaBoocaへようこそ</h2>


@foreach (var item in Model)
{
<h3>@item.ResearchName</h3>
    if (item.ResearchMainImage != null)
    {
        @Html.Image("", @Url.Action("Download", "Image", new { id = item.ResearchMainImage.ImageId }), item.ResearchName);
    }
    
<p>
 @using (@Html.BeginForm("SimpleAddUser", "Answer", FormMethod.Post))
 {
     @Html.Label("ユーザ名") @Html.TextBox("UserName") @Html.Hidden("research_id", item.ResearchIdName) <input type="submit" value="送信" />     
 }
</p>
    
}

